<% include ../partials/header %>
	
	<h2><%= title %></h2>

	<% while( message = flash.shift() ){ %>
		<div class="alert alert-<%= message.type %>" role="alert"><%= message.message %></div>
	<% } %>

	<table class='table table-bordered table-striped'>
		<thead><tr><th>Nome</th><th>Data Início</th><th></th></tr></thead>
		<tbody>
			<% for(index in projetos){ %>
			<tr>
				<td><a href='/projeto/<%= projetos[index]._id %>'><%= projetos[index].nome %></a></td>
				<td><%= moment(projetos[index].data_inicio).format("DD/MM/YYYY") %></td>
				<td><form action="/projeto/<%= projetos[index]._id %>?_method=DELETE" method='POST'><input type='submit' value='Excluir' class='btn btn-danger' /></form></td>
			</tr>
			<% } %>
		</tbody>
	</table>

	<a class='btn btn-primary' href='/projeto/' >Criar novo projeto</a>

<% include ../partials/footer %>